<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>탕진잼 로또</title>
</head>
<body>
    <h1>Lotto</h1>

    <form action="{% url 'result' %}">
        <input type="number" name="number1">
        <input type="number" name="number2">
        <input type="number" name="number3">
        <input type="number" name="number4">
        <input type="number" name="number5">
        <input type="number" name="number6">

        <input type="submit" value="제출">
    </form>
</body>
</html>